@import url('font-awesome.css');

.hero-image {
	top: -5rem;
	bottom: -20rem;
	width: 100%;
	background-image: url( '../images/image.jpg' );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: absolute;
	z-index: 1;
}
.bg-blur {
	float: left;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(0.6px);
}

.hero h1 {
	position: relative;
	text-align: center;
	color: white;
	padding-top: 20rem;
	z-index: 2;
}

.navbar-wrapper {
	background-color: #222222;
	color: #eeeeee;
	height: 3rem;
}
nav.pinned {
	background-color: #222222;
	color: #eeeeee;
	position: fixed;
	top: 0;
	transition: 0.2s ease background-color;
	-webkit-transition: 0.2s ease background-color;

}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	color: #222222;
	line-height: 1.4; }
h1 {
	font-size: 2.35rem;
	font-weight: bold
	}
h2 {
	font-size: 1.6875rem; }
h3 {
	font-size: 1.375rem; }
h4 {
	font-size: 1.125rem; }
h5 {
	font-size: 1.125rem; }
h6 {
	font-size: 1rem; }

/* Base element styles */
body, html {
	width: 100%;
	height: 100%;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background-color: #fffaf6;
	font-size: 16px;
	color: #222222; }

a, a:hover {
	color: inherit;
	text-decoration: none; }

ul {
	margin: 2rem 0;
	list-style: disc;
	padding-left: 2rem; }
ul li {
	padding: 0.5rem 0; }

p {
	margin: 1rem 0;
	font-size: 1.2rem;
	line-height: 1.8; }

.content {
	max-width: 60rem;
	margin: 0 auto;
	width: 100%; }

.hero {
	position: relative;
	overflow: hidden;
	height: 30rem; }

section { padding: 6rem 0 3rem; }

footer {
	margin-top: 4rem;
	padding: 5rem;
	background-color: #222;
	color: coral;
	text-align: center; }
footer p {
	margin: 0; }

/* Navbar Styles */

nav {
	height: 3rem;
	position: relative;
	width: 100%; }
nav ul {
	height: 3rem;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 0;
	list-style: none; }
nav ul li {
	color: #E7A52C;
	font-size: 1rem;
	padding: 0;
	display: inline-block;}
nav ul li p {
	/*color: antiquewhite;*/
	font-size: 1.4rem;
	height: 1.5rem;
	line-height: 1.5rem;
	margin: 0;
	padding: 0.75rem 1.5rem; }
nav ul li:hover {
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
	color: black;
	background-color: antiquewhite; }
nav ul li.action-item {
	color: black;
	font-weight: bold;
	background-color: #E7A52C; }
nav ul li.action-item:hover {
	color: black;
	background-color: #E7A52C; }
nav ul.right { float:right; }

nav ul li.action-item1{
	font-size: 1.4rem;
	color: black;
	font-weight: bold;
	/*background-image: linear-gradient(to right , #628E75, #DEE7B1) ;*/
	background-image: linear-gradient(to right,#205477, #a8804f);
}
nav ul li.action-item1:hover {
	font-size: 1.5rem;
	color: black;
	font-weight: bold;
	background-image: linear-gradient(to right,#205477, #628E75, #a8804f);
	background: linear-gradient(90deg, #205477,#628E75, #a8804f, #205477);
	background-size:1400% 300%;
	animation:mymove 5s ease infinite;
	-webkit-animation: mymove 5s ease infinite;
	-moz-animation: mymove 5s ease infinite;
}
nav ul.right { float:right; }
@keyframes mymove
{
	0% {
		background-position: 0% 0%; }
	50% {
		background-position: 50% 100%; }
	100% {
		background-position: 100% 0%; }
}