<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Athlete.HQ</title>

      <link rel="stylesheet"  href="{{url_for('static', filename='css/style.css')}}">

  
</head>

<body>

  <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Display page</title>
        <!-- Basic page styling -->
        <link rel="stylesheet" type="text/css" href="base.css">
        <!-- User styling -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
    	<div class="hero" id="top">
    		<div class="hero-image bg-blur"></div>
			<h1></h1>
    	</div>
    	<div class="navbar-wrapper">
	        <nav>
	        	<div class="content">
		        	<ul>
		        		<li class="action-item"><a href="#top"><p>Welcome</p></a></li>
		        		<li><a href="#vision"><p>Vision</p></a></li>
		        		<li><a href="#product"><p>Product</p></a></li>
		        		<li><a href="#team"><p>Team</p></a></li>
		        	</ul>
		        	<ul class="right">
		        		<!--<li  class="action-item1"><a href="https://athletehq.online/login_page"><p>Log in as Coach</p></a></li>-->
		        		<li class="action-item1"><a href="https://athletehq.online/login_page" ><p>Log in as Coach</p></a></li>
		        	</ul>
		        </div>
	        </nav>
    	</div>
		<section id="vision" style="background-color: #fffaf6">
			<div class="content">
				<h1>Welcome to Athlete.HQ</h1>
				<h2>Trainers Who Care</h2>
				<p>Our trainers take your fitness goals seriously. We understand that losing weight and gaining muscle can be challenging, and our goal is to help you overcome hurdles and reach your goals. We analyze your body type, BMI, and metabolism, to create your individualized fitness plan.</p>
				<p>Bala Bala...</p>
			</div>
		</section>
		<section id="product" style="background-color: antiquewhite">
			<div class="content">
				<h1>About our product</h1>
				<h2>Knowledgeable Training Expertise</h2>
				<p>With years of success and experience, we are capable of analyzing your body and creating a fitness plan that will help you reach your goals. Most plans include healthy eating and exercise, to ensure the best results for our patients. We will work with you to keep you on track and motivated to reach your goals. </p>
				<p>Bala Bala...</p>
			</div>
		</section>
		<section id="team" style="background-color: #fffaf6">
			<div class="content">
				<h1>Our Team Cares</h1>
				<h2>Your Success is Our Goal</h2>
				<p>We understand that adapting new fitness habits is difficult and often times fails. Our goal is to change your view on fitness, so that it becomes apart of who you are and your lifestyle. We strongly believe that if you practice healthy habits, you will be able to obtain a healthy lifestyle. </p>
				<p>Bala Bala...</p>
			</div>
		</section>
		<footer>
			<p><a href="#">built with ❤ in MEL </a></p>
		</footer>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- User scripts -->
		<script type="text/javascript" src="script.js"></script>
    </body>
</html>
  
  

    <script  src="{{url_for('static', filename='js/home.js')}}"></script>




</body>

</html>
